[user]
	name = iAmNathanJ
	email = jacobs@heysparkbox.com
	signingkey = FCFA6D4AEC146194
[credential]
	helper = osxkeychain
[push]
	default = matching
[color]
	ui = true
[core]
	editor = vim
[alias]
	co = checkout
	l = log --oneline --decorate --graph --all
[pull]
	ff = only
[merge]
	ff = only
[help]
	autoCorrect = -1
[commit]
	gpgsign = true
