[user]
	name = iAmNathanJ
	email = jacobs@heysparkbox.com
	signingkey = iAmNathanJ <jacobs@heysparkbox.com>
[credential]
	helper = osxkeychain
[push]
	default = matching
[color]
	ui = true
[core]
	editor = code -w
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	l = log --oneline --decorate
	find = "!f() { git log --grep=\"$1\" --color; }; f"
	pushf = push --force-with-lease
[pull]
	ff = only
[merge]
	ff = only
[help]
	autoCorrect = -1
[commit]
	gpgsign = true
	template = ~/.gitmessage
[rebase]
	autostash = true
[secrets]
	providers = ~/code/secrets/provider.js

[init]
	templateDir = ~/.git-template
[log]
	date = relative
[branch]
	autosetuprebase = always
[gpg]
	program = gpg
