[user]
	name = iAmNathanJ
	email = jacobs@heysparkbox.com
	signingkey = FCFA6D4AEC146194
[credential]
	helper = osxkeychain
[push]
	default = matching
[color]
	ui = true
[core]
	editor = vim
	excludesfile = /Users/nj/.gitignore_global
[alias]
	co = checkout
	l = log --oneline --decorate
	find = "!f() { git log --grep=\"$1\" --color; }; f"
	pushf = push --force-with-lease
[pull]
	ff = only
[merge]
	ff = only
[help]
	autoCorrect = -1
[commit]
	gpgsign = true
	template = /Users/nj/.gitmessage
[rebase]
	autostash = true
[secrets]
	providers = /Users/nj/code/secrets/provider.js

[init]
	templateDir = /Users/nj/.git-template
