"*":
  core:
    disabledPackages: [
      "jshint"
    ]
    themes: [
      "one-dark-ui"
      "spacegray-dark-neue-syntax"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
  "exception-reporting":
    userId: "4856caa4-fe5e-3823-f705-91971cd75670"
  jshint:
    supportLintingJsx: true
  "one-dark-ui":
    layoutMode: "Spacious"
  "terminal-plus":
    core: {}
    style: {}
    toggles: {}
  welcome:
    showOnStartup: false
